body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: sans-serif;
}

h1, h2,h4 {
  font-weight: bold;
}

.list-group-item {
  border: none;
  border-left: 5px solid #00060f;
  background-color: white;
}
.progress {
  height: 20px;
}

.progress-bar {
  font-weight: bold;
  background-color: #0d6efd;
}

#blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/public/fondoconstellation.png') no-repeat center center/cover;
  background-size: cover;
  z-index: -1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
/* Contenido con fondo semitransparente */
.content-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

/* Secciones con fondo gris translúcido tipo vidrio */
.seccion {
  background-color: rgba(80, 80, 80, 0.4); /* Gris translúcido */
  padding: 2rem;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  margin-bottom: 2rem;
  border: none;
  scroll-margin-top: 80px;

   /* Efecto de brillo suave */
  position: relative;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.5s ease;
}

.seccion:hover {
  /* Más brillo al hacer hover */
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
}

.custom-navbar {
  background-color: rgba(80, 80, 80, 0.4); /* Gris translúcido */
  backdrop-filter: blur(6px); /* efecto de difuminado */
  z-index: 1000;
  height: 50px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
}

.footer {
  background-color: rgba(80, 80, 80, 0.4); /* Gris translúcido */
  color: white;
  padding: 1.5rem;
}

.menu-colapsado {
  background-color: rgba(80, 80, 80, 0.4); /* Gris translúcido */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 16px;
  padding: 0.5rem;
}

.nav-brillo {
  transition: text-shadow 0.3s ease;
}

.nav-brillo:hover {
  text-shadow: 0 0 8px #ffffff, 0 0 12px #ffffff;
}
